<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/now-ui-kit.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <title>Bots de Discord</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-transparent">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 20px !important">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/"><button class="btn login-btn btn-outline-accent my-2 my-sm-0" style="font-size: 10px !important;font-family: poppins !important;">Inicio</button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/equipe"><button class="btn login-btn btn-outline-accent my-2 my-sm-0" style="font-size: 10px !important;font-family: poppins !important;">Criadores</button></a>
                </li>
            </ul>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <button class="btn login-btn btn-outline-accent my-2 my-sm-0" style="font-size: 10px !important;font-family: poppins !important;"><%- user.tag %></button>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown"> 
                <a class="dropdown-item" href="/addbot">Adicionar BOT</a>
                <!-- <a class="dropdown-item" href="/tutorials">Tutorials</a> -->
                <!--  <div class="dropdown-divider"></div>  -->
                <!--  <a class="dropdown-item" href="/server-settings">Server settings</a>  -->
            </div>
        </div>
            <div class="nav-item">
                <a class="nav-link" href="/addbot"><button class="btn login-btn btn-outline-accent my-2 my-sm-0" style="font-size: 10px !important;font-family: poppins !important;">Adicionar BOT</button></a>
            </div>
        </div>
    </nav>
<center>
<div class="heading">
    <h1 class="display-5 title">ADICIONAR BOT</h1>
    <p class="subtitle">Concentração<br />Adicione seu bot logo abaixo preenchendo o formulario.</p>
    <br /><br /><br /><br /><br /><br />

    <div class="form-container">
            <form class="mbr-form" action="/addbot/enviar" method="POST">
              <div data-for="name">
                  <div class="form-group">
                      <input style="text-align: center; height: 50px;" type="text" class="form-control px-3" name="id" data-form-field="Name" placeholder="ID BOT" required="" id="name-header12-5">
                  </div>
              </div>
              <div data-for="name">
                  <div class="form-group">
                      <input style="text-align: center; height: 50px;" type="text" class="form-control px-3" name="nome" data-form-field="Name" placeholder="Nome BOT" required="" id="name-header15-5">
                  </div>
              </div>
              <div data-for="name">
                  <div class="form-group">
                      <input style="text-align: center; height: 50px;" type="text" class="form-control px-3" name="prefixo" data-form-field="Name" placeholder="Prefix" required="" id="name-header15-5">
                  </div>
              </div>
              <div data-for="name">
                  <div class="form-group">
                      <input style="text-align: center; height: 50px;" type="text" class="form-control px-3" name="botinvite" data-form-field="Name" placeholder="Convite BOT" required="" id="name-header15-5">
                  </div>
              </div>
              <div data-for="name">
                  <div class="form-group">
                      <input style="text-align: center; height: 50px;" type="text" class="form-control px-3" name="botsuporte" data-form-field="Name" placeholder="Servidor Suporte" required="" id="name-header15-5">
                  </div>
              </div>
              <div data-for="name">
                  <div class="form-group">
                      <input style="text-align: center; height: 50px;" type="text" class="form-control px-3" name="descp" data-form-field="Name" placeholder="Descrição Curta" required="" id="name-header15-5">
                  </div>
              </div>

                <span class="input-group-btn">
                    <button class="btn btn-secondary btn-form display-4" type="submit">Enviar</button>
                </span>
            </form>
    </div>
    </div>
</div> </center>
    </div>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>

</center>

            </div>
        </div>
    </div>
</div>
<center>
    
    <div class="footer">
        <div class="bot-footer">
            <img src="/assets/BotLogoWord.png" width="150"><br />
            Copyright © BotsdeDiscord - 2020
        </div><br/>
    </div>
</div>
</center>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/now-ui-kit.min.js"></script>
</body>
</html>